@import "./utils/mixins";

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid;
  padding-left: 20px;

  div {
    flex: 50%;
    button {
      font-size: 20px;
      background-color: #fff;
      border: none;
      cursor: pointer;
      margin-left: 70px;
    }
  }
}

.content-detail {
  padding-left: 20px;

  input[type="radio"] {
    display: none;
  }

  input[type="radio"] + label {
    display: inline-block;
    @include size(20px, 20px);
    border: 1px solid #2dd06e;
    position: relative;
    border-radius: 3px;
    cursor: pointer;
  }

  input[type="radio"]:checked + label {
    background-color: #2dd06e;
  }

  input[type="radio"]:checked + label::after {
    position: absolute;
    content: "";
    @include size(5px, 15px);
    border: 2px solid #fff;
    left: 0;
    right: 0;
    top: -6px;
    bottom: 0;
    margin: auto;
    transform: rotate(45deg);
    border-top-color: transparent;
    border-left-color: transparent;
  }

  span {
    font-size: 18px;
    line-height: 30px;
    color: #4f4f4f;
    margin-left: 16px;
  }

  p {
    margin: 0;
    padding: 0;
  }
}
