.mobile-container {
  display: none;
}

.empty-card-container {
  text-align: center;
  margin: 105px 0;
}
.empty-card-container p {
  font-size: 16px;
  line-height: 24px;
  color: #bdbdbd;
  margin: 48px 0 32px 0;
}
.empty-card-container button {
  background-color: #2dd06e;
  height: 48px;
  width: 280px;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}
.empty-card-container button a {
  text-decoration: none;
  color: #fff;
}

.cart-container {
  background-color: #e5e5e5;
  border: 1px solid transparent;
  padding-top: 10px;
}
.cart-container .cart-flex-container {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
  margin-bottom: 110px;
}
.cart-container .cart-flex-container .cart-1 {
  flex: 60%;
  padding-left: 21px;
}
.cart-container .cart-flex-container .cart-1 .all-product-count {
  font-size: 20px;
  line-height: 28px;
  color: #4f4f4f;
}
.cart-container .cart-flex-container .cart-1 .cart-grid-container {
  display: grid;
  grid-template-columns: 80px 270px 140px 80px;
  justify-content: space-evenly;
  margin-top: 32px;
  border-radius: 10px;
  background-color: #fff;
}
.cart-container .cart-flex-container .cart-1 .cart-grid-container .cart-grid-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-container .cart-flex-container .cart-1 .cart-grid-container .cart-grid-1 input {
  width: 22px;
  height: 22px;
}
.cart-container .cart-flex-container .cart-1 .cart-grid-container .cart-grid-3 p {
  font-size: 16px;
  line-height: 22px;
  color: #333333;
  font-weight: 800;
}
.cart-container .cart-flex-container .cart-1 .cart-grid-container .cart-grid-3 div span:nth-child(1) {
  color: red;
}
.cart-container .cart-flex-container .cart-1 .cart-grid-container .cart-grid-4 .productAmount {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80px;
}
.cart-container .cart-flex-container .cart-1 .cart-grid-container .cart-grid-4 .productAmount span {
  font-size: 16px;
  line-height: 20px;
  margin: 0 30px;
  color: #1d2123;
}
.cart-container .cart-flex-container .cart-1 .cart-grid-container .cart-grid-4 .productAmount button {
  cursor: pointer;
  background-color: #fff;
  border: none;
  outline: none;
  font-size: 18px;
}
.cart-container .cart-flex-container .cart-1 .cart-grid-container .cart-grid-5 {
  display: flex;
  justify-content: right;
  align-items: center;
  cursor: pointer;
}
.cart-container .cart-flex-container .cart-1 .cart-grid-container .cart-image {
  width: 50px;
  height: 74px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.cart-container .cart-flex-container .cart-2 {
  flex: 40%;
}
.cart-container .cart-flex-container .cart-2 table {
  width: 60%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 16px;
}
.cart-container .cart-flex-container .cart-2 table td {
  padding: 7px;
}
.cart-container .cart-flex-container .cart-2 table tr:nth-child(1) th {
  font-size: 20px;
}
.cart-container .cart-flex-container .cart-2 table tr:nth-of-type(5) {
  border-collapse: collapse;
  border-bottom: 1px solid black;
}
.cart-container .cart-flex-container .cart-2 table tr:last-of-type td:nth-child(1) {
  color: #1d2123;
  font-size: 18px;
}
.cart-container .cart-flex-container .cart-2 table tr:last-of-type td:nth-child(2) {
  color: red;
}

@media screen and (max-width: 375px) {
  .cart-container {
    margin-top: 16px;
    padding: 0;
  }
  .cart-container .cart-flex-container {
    display: none;
  }
  .cart-container .all-product-count {
    margin: 40px 0 24px 24px;
  }
  .cart-container .mobile-container {
    display: block;
  }
  .cart-container .mobile-container .basket-container {
    background-color: #fff;
    width: 273px;
    height: 315px;
    margin: 0 auto 24px auto;
    border-radius: 8px;
    padding: 14px 14px;
  }
  .cart-container .mobile-container .basket-container .check-del {
    display: flex;
    justify-content: space-between;
  }
  .cart-container .mobile-container .basket-container .check-del input {
    width: 18px;
    height: 18px;
  }
  .cart-container .mobile-container .basket-container .img {
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
  }
  .cart-container .mobile-container .basket-container .name-product {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
  }
  .cart-container .mobile-container .basket-container .amount-size {
    display: flex;
    justify-content: space-between;
  }
  .cart-container .mobile-container .basket-container .amount-size .count {
    display: flex;
  }
  .cart-container .mobile-container .basket-container .amount-size .count button {
    border: none;
    outline: none;
    background-color: #fff;
  }
  .cart-container .mobile-container .basket-container .amount-size .count div:nth-child(2) {
    margin: 0 30px;
  }
}/*# sourceMappingURL=cart.css.map */