.detail-product {
  padding: 0;
  margin: 0;

  h2 {
    p {
      margin: 0;
      padding: 0;
    }
  }

  .stars {
    margin-bottom: 26px;
    span {
      margin-right: 7px;
    }
    .count-comment {
      color: #4f4f4f;
      font-size: 12px;
      line-height: 16px;
    }

    .comment {
      text-decoration: none;
      color: #2d9cdb;
      font-size: 14px;
      line-height: 16px;
    }
  }

  .amount {
    font-weight: bold;
    color: red;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 12px;
    display: flex;

    .hidden {
      display: none;
    }
  }

  .color {
    margin-top: 30px;
    margin-bottom: 35px;
    span:nth-child(2) {
      cursor: pointer;
    }
  }

  .memory {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 32px;
    span {
      border-radius: 8px;
      margin-right: 16px;
      padding: 7px 13px;
    }

    span:nth-child(1) {
      border: none;
      margin: 0;
      padding: 0;
      background-color: #fff !important;
    }
    span:nth-child(2n) {
      background-color: #4f4f4f;
      color: #fff;
    }
    span:nth-child(2n-1) {
      background-color: #f2f2f2;
    }
  }

  .countProduct {
    margin-top: 25px;
    margin-bottom: 55px;

    span {
      margin: 0 30px;
      font-size: 20px;
      line-height: 24px;
      color: #1d2123;
    }

    span:nth-of-type(1) {
      display: none;
    }

    button {
      text-align: center;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: #f2f2f2;
      cursor: pointer;
      border: none;
      outline: none;
    }
  }

  .addToCartBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #2dd06e;
    width: 195px;
    padding: 14px 48px;
    border-radius: 8px;

    img {
      width: 19px;
      height: 18px;
    }

    button {
      background-color: #2dd06e;
      border: none;
      outline: none;
      color: #fff;
      font-size: 14px;
      line-height: 16px;
      cursor: pointer;
    }
  }
}
