.container {
  margin: 0 auto;
  width: max-content;
  a {
    text-decoration: none;
    color: #000;
  }

  h3 {
    margin-bottom: 32px;
  }
  div {
    margin-bottom: 30px;
    span {
      cursor: pointer;
    }
    span:nth-child(1) {
      margin-right: 18px;
    }
  }
}


@media screen and (max-width: 375px) {
 .container {
  display: none;
 } 
}